h1,
h2,
p,
button {
    line-height: 1.2;
    margin-top: 20px;
}

hr {
    margin: 20px 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

} a.button {
    text-align: center;
}

button {
    padding: 15px 25px;
    font-weight: 800;
    border: 2px solid black;
    background-color: #14213D;
    color: white;
    transition: 200ms;
    max-width: 480px;
    margin: 30px auto;
} button:hover {
    background-color: #1e335e;
} main img {
    margin: 20px 0 0 0;
    max-width: 400px!important;
    
}